/* Global */
:root {
  --navBar: #719da0;

  --black: #232d2e;
  --white: #ffffff;
  --errorColour: #f00e0e;

  --heroFont: "Noto Sans", sans-serif;
}

body,
h1,
h2,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #e3ebec;
}

/* Main page */
.container {
  position: relative;
}

.parallax {
  /* The image used */
  background-image: url("/assets/cover_3.png");
  /* set height */
  height: 80vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.wrapper {
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  justify-content: center;
}

.box {
  position: absolute;
  height: auto;
  width: auto;
  background-attachment: fixed;

  top: 10vw;

  z-index: 2;
  color: var(--white);
  font-family: --heroFont;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroName {
  font-family: var(--heroFont);
  font-weight: 100;
  font-size: 80px;
  color: var(--white);
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  padding-bottom: -20px;
  margin-bottom: -20px;
}

.heroTitle {
  font-family: var(--heroFont);
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 55px;
  margin-top: 0px;
  font-weight: 300;
}

.heroDescription {
  font-family: var(--heroFont);
  font-size: 18px;
  width: 200px;
}

#navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  width: 100%;
  position: sticky;
  margin-top: -70px;
  bottom: 0;
  transition: top 0.3s;
  z-index: 2;
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  width: 50%;
  font-family: var(--heroFont);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

ul.navList li a {
  text-decoration: none;
  color: var(--white);
}

ul.navList li a:hover {
  color: var(--black);
  transition: 0.3s ease-in-out;
}

ul.navList li a.highlighted {
  font-weight: bold;
}

ul.subNavList li a.highlighted {
  font-weight: bold;
}

p.reachOut a {
  color: var(--navBar);
}

.text1 {
  height: 100px;
}

.arrowContainer {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  animation: arrowBounce 2s infinite; /* Add animation to the arrow */
}

.arrow {
  width: 20px;
  height: 20px;
  border: solid transparent;
  border-width: 0px 2px 2px 0px;
  border-color: var(--navBar);
  transition: transform 0.2s ease-in-out;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Animation */
@keyframes arrowBounce {
  0%,
  100% {
    transform: translateY(0); /* Start & end */
  }
  50% {
    transform: translateY(-10px); /* Mid */
  }
}

.newSection {
  padding-top: 15vh;
  font-family: var(--heroFont);
  font-weight: 400;
}

.content {
  padding-left: 10vw;
  padding-right: 10vw;
}

.descriptionSection {
  display: flex;
  font-family: var(--heroFont);
  margin-top: 15vh;
  justify-content: center;
  align-items: center;
}

.meIce {
  height: 400px;
  margin-left: -50px;
  margin-top: 50px;
  z-index: 0;
}
.meIce2 {
  height: 200px;

  z-index: 0;
}

.meIce3 {
  height: 200px;
  z-index: 1;
  position: relative;
}

.meSmallPhotos {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.whoAmI {
  padding-bottom: 5vh;
  font-size: xx-large;
  font-weight: 100;
  color: var(--black);
}

.para {
  padding-bottom: 5vh;
  font-size: medium;
  font-weight: 400;
  color: var(--black);
}

.btn {
  display: flex;
  width: 50%;
  font-family: var(--heroFont);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--white);
  justify-content: center;
  color: var(--black);
  align-items: center;
}

.btn:hover {
  background-color: var(--navBar);
  color: var(--white);
  transition: 0.3s ease-in-out;
}

.btn:active {
  background-color: var(--black);
  color: var(--white);
}

.btn a {
  text-decoration: none;
  color: var(--black);
  font-size: medium;
}

.centredContent {
  display: inline-block;
  margin: 0 5px;
  font-weight: 300;
}

.btnMiddle {
  display: flex;
  width: 50%;
  font-family: var(--heroFont);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--white);
  justify-content: center;
  color: var(--black);
  align-items: center;
  margin: auto;
}

.btnMiddle:hover {
  background-color: var(--navBar);
  color: var(--white);
  transition: 0.3s ease-in-out;
}

.btnMiddle:active {
  background-color: var(--black);
  color: var(--white);
}

.btnMiddle a {
  text-decoration: none;
  color: var(--black);
  font-size: medium;
}

.rightSection {
  width: 60%;
  padding-left: 7vw;
}

.leftSection {
  width: 40%;
  display: flex;
  justify-content: center;
}

.featured {
  padding-left: 10vw;
  padding-right: 10vw;
  z-index: 1;
}

.centre {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: var(--heroFont);
  gap: 30px;
  margin-bottom: 50px;
}

.cards2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: var(--heroFont);
  gap: 30px;
  margin-bottom: 50px;
}

.card {
  background-color: var(--white);
  width: 300px;
  height: auto;
  box-shadow: 1px 1px 5px var(--navBar);
  font-family: var(--heroFont);
  color: var(--black);
  padding: 40px;
}

.cardImageContainer {
  background-color: var(--white);
  height: auto;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cardImageContainerHidden {
  background-color: var(--white);
  height: auto;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cardImageContainerSmuk {
  background-color: var(--white);
  height: auto;

  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.cardImageContainerAGF {
  background-color: var(--white);
  height: auto;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cardImageContainerGrundfos {
  background-color: var(--white);
  height: auto;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cardImageContainerTrack {
  background-color: var(--white);
  height: auto;

  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.cardImageContainer24 {
  background-color: var(--white);
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cardImage {
  height: auto;
  width: 100%;
}

.cardImageLap {
  height: 180px;
  width: auto;
  margin-top: 0px;
}

.cardImageLap24 {
  height: 180px;
  width: 210px;
  margin-top: 0px;
}

.cardImageMob {
  height: 130px;
  width: auto;
  margin-left: -50px;
}

.cardImageMob24 {
  height: 130px;
  width: auto;
  margin-left: 0;
}

.cardImageMonitor {
  height: 170px;
  width: auto;
  margin-bottom: 10px;
}

.projectCardLowerSection {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-top: 30px;
}

.projectCardTitle {
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 10px;
}

.projectCardSub {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}

.projectCardDescription {
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
}

.projectCardBottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.projectCardBottomText {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}

.tools,
.clock {
  display: flex;
  gap: 5px;
}

.clockIcon {
  height: 20px;
  width: auto;
  margin-right: 5px;
}

.card a {
  background-color: var(--navBar);
  color: var(--white);
  font-size: 14px;
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}

.getInTouch {
  display: flex;
  margin-top: 15vh;
  z-index: 1;
}

.getLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--heroFont);
  font-weight: 100;
  background-color: var(--navBar);
  color: var(--white);
  z-index: 1;
}

.getHeading {
  padding-top: 3vh;
  padding-bottom: 3vh;
  font-size: xx-large;
  font-weight: 100;
  margin-top: 3vh;
}

.getPara {
  font-weight: 300;
}

.getRight {
  width: 50%;
  height: 300px;
}

.getImage {
  height: 100%;
  width: 100%;
}

.getBtn {
  display: flex;
  width: 50%;
  font-family: var(--heroFont);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--white);
  justify-content: center;
  color: var(--black);
  align-items: center;
  margin: auto;
}

.getBtn:hover {
  background-color: var(--black);
  color: var(--white);
  transition: 0.3s ease-in-out;
}

.getBtn:active {
  background-color: var(--white);
  color: var(--black);
}

.getBtn a {
  text-decoration: none;
  color: var(--black);
  font-size: medium;
}

.footer {
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: var(--black);
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 50px;
  padding-top: 50px;
  font-family: var(--heroFont);
}

ul.footerLinks li a {
  color: var(--white);
}

.footer h2 {
  font-size: medium;
  font-weight: 400;
  color: var(--navBar);
}

.footer ul,
.footer p {
  font-size: 14px;
  font-weight: regular;
  color: var(--white);
  font-weight: 300;
}

.footerMain {
  display: flex;
  width: 48%;
  justify-content: space-between;
}

.line {
  z-index: 2;
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}

/* Subpages */
.subNavigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--navBar);
  z-index: 2;
}

.subNavList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  width: 50%;
  font-family: var(--heroFont);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--heroFont);
}

ul.subNavList li a {
  color: var(--white);
}

ul.subNavList li a:hover {
  color: var(--black);
  transition: 0.3s ease-in-out;
}

.heading {
  display: flex;
  font-family: var(--heroFont);
  margin-top: 10vh;
}

.subDescription {
  font-family: var(--heroFont);
  margin-bottom: 5vh;
}

/* About */

.aboutDescription {
  display: flex;
  font-family: var(--heroFont);

  color: var(--black);
  align-content: flex-start;
}

.familyPic {
  height: auto;
  width: 100%;
  padding-top: 10vh;
}

.cAndM {
  height: 80%;
  width: 55%;
}

.aboutRightSection {
  width: 60%;
  padding-left: 5vw;
  color: var(--black);
}

.aboutRightSection2 {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
}

.aboutLeftSection {
  width: 60%;
}

.familyMargin {
  margin-left: 10vh;
}

.team {
  margin-top: 10vh;
}

.bring {
  display: flex;

  justify-content: center;
  gap: 40px;
  margin-bottom: 4vh;
  margin-top: 1vh;
  color: var(--black);
}

.skillCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--heroFont);
  font-weight: 300;
  width: 25%;
  color: var(--black);
}

.skillPic {
  height: 40px;
  margin-bottom: 25px;
  color: var(--black);
}

.skillDescription {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skillTitle {
  align-self: center;
  font-weight: 400;
  font-size: large;
  color: var(--black);
}

.hobbies {
  list-style-type: circle;
  padding-top: 10px;
  padding-bottom: 1px;
}

.hob1 {
  margin-left: 2vw;
  margin-bottom: 2vh;
}

.hob2 {
  margin-left: 3vw;
  margin-bottom: 2vh;
}

.hob3 {
  margin-left: 4vw;
  margin-bottom: 2vh;
}

.hob4 {
  margin-left: 5vw;
  margin-bottom: 2vh;
}

.hob5 {
  margin-left: 6vw;
  margin-bottom: 2vh;
}

.hob6 {
  margin-left: 7vw;
  margin-bottom: 2vh;
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.galleryPic {
  width: 295px;
}

.galleryPic:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* Contact */
.contactCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: var(--heroFont);
  gap: 40px;
  margin-bottom: 50px;
}

.contactCard {
  background-color: var(--white);
  box-shadow: 1px 1px 5px var(--navBar);
  width: 160px;
  height: auto;
  font-family: var(--heroFont);
  padding: 40px 50px;
  position: relative;
}

.contactHeader {
  display: flex;
}

.contactHeading {
  padding-bottom: 3vh;
  font-size: xx-large;
  font-weight: 100;
  color: var(--black);
  margin-left: 40px;
}

.contactBox {
  width: 5px;
  height: 45px;
  background-color: var(--navBar);
  margin-left: -50px;
}

.contactCard a {
  background-color: var(--black);
  color: var(--white);
  padding: 15px 20px;
  display: block;
  text-align: center;
}

.contactCard a:hover {
  background-color: var(--navBar);
  color: var(--white);
  padding: 15px 20px;
  display: block;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.contactCard a:active {
  background-color: var(--black);
  color: var(--white);
  padding: 15px 20px;
  display: block;
  text-align: center;
}

.contactCard:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}

.contactDescription {
  margin-bottom: 7vh;
}

.contactButton {
  position: absolute;
  bottom: 3vh;
  width: 50%;
  left: 50%; /* You can adjust the horizontal alignment as needed */
  transform: translateX(-50%); /* Center the button horizontally */
}

/* PROJECT PAGES */

.breadcrumbs {
  margin-left: 10vw;
  margin-right: 10vw;
  font-family: var(--heroFont);
  color: var(--black);
  margin-top: 5vh;
  display: flex;
  gap: 10px;
}

.breadcrumbs a {
  color: var(--black);
}

.projectBreadcrumbs {
  font-weight: 300;
}

.locationBreadcrumbs {
  font-weight: 400;
}

.projectWrapper {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
  display: flex;
  font-family: var(--heroFont);
  color: var(--black);
}

.projectTopLeft {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fafa;
  padding: 30px;
}

.projectTopLeftBlog {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fafa;
  padding: 30px;
  gap: 40px;
}

.projectTopLeftSmuk {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fafa;
  padding: 30px;

  gap: 40px;
}

.cardImageMobHid {
  height: 130px;
  width: auto;
  margin-left: 0;
  margin-top: -50px;
}

.cardImageCollection {
  height: 350px;
  width: auto;
}

.cardImageBasket {
  height: 280px;
  width: auto;
}

.cardImageBlog1 {
  height: 280px;
  width: auto;
}

.cardImageBlog2 {
  height: 200px;
  width: auto;
}

.projectTopRight {
  width: 60%;
  padding: 50px;
}

.projectInfo {
  display: flex;
  flex-direction: column;
}

.bringProject {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 10vh;
  margin-top: 1vh;
  margin-left: 10vw;
  margin-right: 10vw;
  color: var(--black);
}

.process {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10vh;
  font-family: var(--heroFont);
  color: var(--black);
  font-weight: 400;
  margin-top: 5vh;
  display: flex;
}

#anchorProcess {
  font-weight: 300;
}

#anchorCode {
  font-weight: 300;
}

.processLeft {
  width: 50%;
  margin-bottom: 5vh;
}

.codeRight {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: auto;
  margin-bottom: 10vh;
  width: 50%;
}

.processRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.processRight2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 5vh;
}
.processRight3 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.processImg1 {
  width: 300px;
  margin: auto;
  margin-top: 5vh;
}

.processImg2 {
  width: 180px;
  margin: auto;
}

.processImg3 {
  width: 300px;
  margin: auto;
}

.processImg4 {
  width: 180px;
}

.processImg5 {
  width: 350px;
}

.processImg6 {
  width: 400px;
  margin-left: 10vw;
}

.processImg7 {
  width: 500px;
  margin-top: 1vh;
  margin-left: 5vw;
}

.processImg8 {
  width: 500px;
  margin-top: 1vh;
}

.processImg9 {
  width: 300px;
}

.processImg10 {
  width: 500px;
  margin: auto;
}

.processImg11 {
  width: 250px;
}

.processImg12 {
  width: 400px;
  margin: auto;
  margin-top: 5vh;
}

.processImg13 {
  width: 400px;
  margin-left: 7.5vw;
  margin-bottom: 1vh;
}

.processImg14 {
  width: 500px;
  margin-top: 1vh;
  margin-left: 5vw;
  margin-bottom: 1vh;
}

.processImg15 {
  width: 650px;
  margin-bottom: 2vh;
  margin-left: 5vw;
}

.processsImages {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.processsImages2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bullets {
  list-style-type: disc;
  margin-left: 3vw;
}

.proCo {
  margin-bottom: 3vh;
}

.codeImages {
  display: flex;
  gap: 20px;
  justify-items: center;

  margin: auto;
}

.codeImages2 {
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-items: center;

  margin: auto;
}

.codeImages3 {
  display: flex;
  flex-direction: column;

  justify-items: center;

  margin: auto;
}

.external {
  color: var(--navBar);
}

.dark {
  background-color: #f8fafa;
}

.btnProjects {
  margin-bottom: 10vh;
}

.smuk {
  background-color: #f8f0ea;
}

.hidden {
  background-color: #f3f9f2;
}

.basket {
  background-color: #fcf0ea;
}

.grund {
  background-color: #eef5f6;
}

.blog {
  background-color: #fff6f6;
}

.track {
  background-color: #efe8f5;
}

.trackCode1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10vw;
}

.trackCode2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
}

.codeImagesSmuk {
  display: flex;
  gap: 20px;
  justify-items: center;

  margin: auto;
}

/*splash*/
.AGFcard {
  position: relative;
  z-index: 1;
}

.splash {
  position: absolute;
  width: 400px;
  z-index: -2;
  right: 40px;
  top: -200px;
}

.splash2 {
  position: absolute;
  width: 350px;
  z-index: -3;
  left: 40px;
  top: 600px;
}

.mobileNav {
  display: none;
}

.mobileNavBurger {
  display: none;
}

.mobileMenu {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: var(--heroFont);
  display: flex;
  flex-direction: column;
  row-gap: 4vh;
  font-size: x-large;
  color: var(--black);
  background-color: var(--white);
  height: 92vh;
  margin-top: 0;
  align-items: center;
  justify-content: center;
}

/* Media queries / responsiveness */
@media only screen and (max-device-width: 900px) {
  .parallax {
    background-attachment: scroll;
    height: 60vh;
  }

  .wrapper {
    margin-left: 0;
    margin-right: 0;
  }
  .heroName {
    font-size: 50px;
    width: 100vw;
  }

  .heroTitle {
    margin-top: 50px;
    width: 100vw;
  }

  .heroDescription {
    margin-top: -50;
  }

  .arrowContainer {
    display: none;
  }

  .lapLeft {
    display: none;
  }

  .splash {
    display: none;
  }

  #navigation {
    display: none;
  }

  .subNavigation {
    display: none;
  }

  .content {
    padding-left: 0;
    padding-right: 0;
  }

  .descriptionSection {
    margin-top: 5vh;
  }

  .rightSection {
    width: 100%;
    padding-left: 7vw;
    padding-right: 7vw;
  }
  .btn {
    width: 100%;
  }

  .btnMiddle {
    width: 100%;
  }

  .featured {
    padding-left: 7vw;
    padding-right: 7vw;
    z-index: 0;
  }

  .AGFcard {
    position: relative;
    z-index: 0;
  }

  .getInTouch {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    z-index: 0;
  }

  .getLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--heroFont);
    font-weight: 100;
    background-color: var(--navBar);
    color: var(--white);
    z-index: 0;
  }

  .getRight {
    display: none;
  }

  .getPara {
    text-align: center;
    margin-bottom: 3vh;
  }

  .getBtn {
    width: 80%;
    margin-bottom: 3vh;
  }

  .footerMain {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-between;
    padding-bottom: 100px;
    gap: 30px;
  }

  .familyPic {
    display: none;
  }

  .heading {
    margin-top: 5vh;
  }

  .aboutRightSection {
    width: 100%;
    padding-left: 0;
    margin-left: 7vw;
    margin-right: 7vw;
  }

  .bring {
    margin-left: 7vw;
    margin-right: 7vw;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .aboutLeftSection {
    width: 95vw;
    margin-left: 7vw;
    margin-right: 7vw;
  }

  .familyMargin {
    margin-left: 0;
    width: 100vw;
  }

  .subDescription {
    display: block;
  }

  .projectWrapper {
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 3vh;
    margin-bottom: 10vh;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--heroFont);
    color: var(--black);
  }

  .projectTopLeft {
    width: 80%;
    display: flex;
  }

  .projectTopLeftSmuk {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8fafa;
    padding: 30px;

    gap: 40px;
  }

  .cardImageMobHid {
    display: none;
  }

  .process {
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 5vh;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
  }

  .processLeft {
    width: 100vw;
    margin-bottom: 5vh;
  }

  .processRight {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }

  .codeRight {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: auto;
    margin-bottom: 5vh;
    width: 100vw;
  }

  .codeImages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-items: center;

    margin: auto;
  }

  .processImg10 {
    width: 300px;
    margin: auto;
  }

  .cardImageBasket {
    height: 200px;
    width: auto;
  }

  .processImg12 {
    width: 350px;
    margin: auto;
    margin-top: 5vh;
  }

  .processRight2 {
    width: 100vw;
  }

  .processImg7 {
    width: 350px;
    margin-top: 1vh;
    margin: auto;
  }

  .codeImagesSmuk {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .processImg4 {
    width: 180px;
    margin: auto;
  }

  .cardImageBlog2 {
    display: none;
  }

  .cardImageBlog1 {
    height: 250px;
    width: auto;
    margin: auto;
  }

  .projectTopLeftBlog {
    width: 80%;
  }

  .processRight3 {
    width: 100vw;
  }

  .processImg6 {
    width: 300px;
    margin: auto;
  }

  .trackCode1 {
    margin: auto;
  }

  .trackCode2 {
    display: flex;
    flex-wrap: wrap;

    margin: auto;
  }

  .processImg13 {
    width: 300px;
    margin: auto;
    margin-bottom: 5vh;
  }

  .processImg14 {
    width: 300px;
    margin-top: 1vh;
    margin: auto;
    margin-bottom: 5vh;
  }

  .processImg15 {
    width: 300px;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
  }

  .heading {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--heroFont);
    margin-top: 10vh;
    margin-left: 7vw;
    margin-right: 7vw;
  }

  .hob3 {
    margin-left: 4vw;
    margin-bottom: 2vh;
    width: 100vw;
    white-space: normal;
    overflow: visible;
  }

  .hobbies {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .navWrapper {
    position: fixed;
  }

  .mobileNav {
    background-color: var(--navBar);
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    height: 8vh;
    margin: auto;
    justify-items: center;
    align-content: center;
    padding-left: 9vw;

    padding-top: 2.5vh;

    font-family: var(--heroFont);
    color: var(--white);
    text-decoration: none;
    bottom: 0;
    z-index: 3;
  }

  .mobHome {
    padding-bottom: 3vh;
  }

  .mobileNavBurger {
    background-color: var(--white);
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 8vh;
    margin: auto;
    justify-items: center;
    align-content: center;
    padding-left: 0;

    padding-top: 2.5vh;
    z-index: 1;
    font-family: var(--heroFont);
    color: var(--black);
    text-decoration: none;
    bottom: 0;
  }

  .noUndeline {
    text-decoration: none;
    color: var(--black);
  }

  .burgerGroup {
    display: flex;
    width: 50%;
    align-items: center;
    text-decoration: none;
    margin-bottom: 3vh;
  }

  .burger {
    width: 30px;
    margin-left: 15px;
  }

  .mobileMenu {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--heroFont);
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    font-size: x-large;
    color: var(--black);
    background-color: var(--white);
    height: 92vh;
    margin-top: 0;
    align-items: center;
    justify-content: center;
  }

  .closeMobileMenu {
    font-size: xx-large;
    color: var(--black);
    background-color: var(--white);
    height: 10vh;
    width: 35vw;
    padding-top: 5vh;
    margin: 0;
    text-align: center;
    right: 0;
    position: fixed;
  }
}
